page-about {
    p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        white-space : normal
    }
    .p1{
        margin:0 auto;
        padding: 4px;
        text-indent:0;
        
    }
}  

