<ion-header>
  <ion-navbar>
    <ion-title>
      Courses
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <h1>Courses Details</h1>
    <ion-item *ngFor="let course of courses">
      <h3>NAME: {{course.name}}</h3>
      <p>      
        <li>CODE: {{course.code}}</li>
        <li>DESCRIPTION: {{course.desc}}</li>
        <li>LENGTH: {{course.length}}</li>
      </p>

    </ion-item>
  </ion-list>
  <ion-list>
      <h1>Courses Details</h1>
    <ion-item *ngFor="let lesson of lessons">
        <h3>NAME: {{lesson.name}}</h3>
        <p>      
          <li>CODE: {{lesson.code}}</li>
          <li>DESCRIPTION: {{lesson.desc}}</li>
          <li>LENGTH: {{lesson.length}}</li>
        </p>
      </ion-item>
  </ion-list>


</ion-content>
