<ion-header>
  <ion-navbar>
    <ion-title>
      Courses
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <h2>First Semester</h2>
    <ion-item *ngFor="let course of courses">
      <h3>Name: {{course.name}}</h3>
      <p>      
        <li class = "p1">Code: {{course.code}}</li>
        <li class = "p1" >Description: {{course.desc}}</li>
        <li class = "p1">Length: {{course.length}}</li>
      </p>

    </ion-item>
  </ion-list>
  <ion-list>
      <h2>Second Semester</h2>
    <ion-item *ngFor="let lesson of lessons">
        <h3>Name: {{lesson.name}}</h3>
              
          <p  class = "p1">Code: {{lesson.code}}</p>
          <p  class = "p1">Description: {{lesson.desc}}</p>
          <p  class = "p1">Length: {{lesson.length}}</p>
        
      </ion-item>
  </ion-list>


</ion-content>
